@import "http://propeller.in/components/badge/css/badge.css";
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";


/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller buttons */
@import "http://propeller.in/components/button/css/button.css";

/* Propeller alert */
@import "http://propeller.in/components/alert/css/alert.css";

/* Propeller card css*/
@import "http://propeller.in/components/card/css/card.css";

/* mCustomScrollbar css*/
@import "http://propeller.in/components/custom-scrollbar/css/jquery.mCustomScrollbar.css";

/* Propeller scrollbar css*/
@import "http://propeller.in/components/custom-scrollbar/css/pmd-scrollbar.css";
.objects {
    display:inline-block;
    background-color: white;
    /* border: #DFBC6A 1px solid; */
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 2px #999;
    cursor: move;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.mainContainer{
    overflow-x: auto;
    overflow-y: hidden;

    display: block;
    width: 100%;
    height: 123px;
    margin: auto;

}
#main {
    width: 2000px;
    height:200px;

    /* margin: auto; */
    /* display: inline-block;  */
    white-space: nowrap;

}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .objects {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    /* width: 20%; */
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
/* .content {
    background-color: white;
    padding: 10px;
} */

/* The "show" class is added to the filtered elements */
.show {
  display: inline-block;
  backgroung-color: black;
}

/* Style the buttons */

.zone {
    /* display:inline-block; */
    border: 3px dashed #ccc;
    float: left;
    margin: 10px;
    min-height: 100px;
    padding: 10px;
    width: 220px;

    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

.default_width {
    width: 5%
}

.albums {
    margin: auto 0;
    overflow: hidden;
    width: 840px;
}
.album {
    /* border: 3px dashed #ccc; */
    /* float: left; */
    /* margin: 10px;
    height: 75px;
    padding: 15px;
    width: 100px;
    border-radius: 50%;  */
    /* background-size: 90px 70px; */
    /* background-repeat: no-repeat; */
    /* background- */
    /* border: 2px solid black; */
    /* padding: 25px; */
    /* background: url(mountain.jpg); */
    /* background-repeat: no-repeat;
    background-size: 220px 97px;
    background-origin: content-box; */

    width: 100px;
    height: 10vh;
    border:3px dashed #ccc;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    left: 8%;

    /* CSS3 transition rules */
    /* -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease; */
}

h6 {
    display: block;
    /* border: 1px solid rgb(75, 74, 42) */
}

/* .idiv {
    background-repeat: no-repeat;
    border: 3px dashed rgb(51, 17, 17);
    border-radius: 50%;
}

#example2 {
    border: 2px dashed black;
    padding: 25px;
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
} */

.divimgparent {
    width: 100px;
    height: 10vh;
    border:1px dashed red;
    border-radius: 50%;
    padding: 5px
}
.divimg {
    width: 80px;
    height:80px;
    background-repeat: no-repeat;
    background-size: contain; /*background-attachment: fixed;*/ ;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 7px;
    color: white;
    /* margin: px; */
    box-shadow: 2px 2px 2px #999;

}

.divimg:hover{
  background: blue;
  cursor: pointer;
  -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;

}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 70%;
    background-color: white;
    /* background-image: url(searchicon.png); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 10px;
    position: relative;
    left: 0%;
}

.input-class:focus {
    border-radius: 15px;
    outline: none;

}

.horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    /* .card {
        display: inline-block; */
    /* } */
}
/*
#carousel {
    width: 100%;
    height: 150px;
    background-color: #ff0000;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

#carousel .card {
    display: inline-block;
} */

.cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
/* .cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
} */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .scrolling-wrapper .card {
    display: inline-block;
  }
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 3px;
  }
  .card {
    border: 1px solid white;
    width: 150px;
    height: 75px;
    background: black;
  }
  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 75px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }

.subClass {
    height: 190px;
    width: 170px;
    display: inline-block;
    padding:10px;
    /* border: 1px solid red; */
}

/* .badge-class {
    position: relative;
    top: -10%;
} */

/* #badge{
    position: relative;
    top: 5px;
    right:-28%;
} */


.pmd-badge[data-badge]::after {
    background: #259b24;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.75rem;
    font-weight: 700;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 50%;
    right: -24px;
    top: -10px;
    content: attr(data-badge);
    position: absolute;
    text-align: center;
}


.pmd-badge.pmd-badge-overlap::after {

    top: -43px;
    right: -15px;
}

/* #sliderWrapper {
    left: 40px;
    width: calc(100% - 80px);
    white-space: nowrap !important;
    height: 100%;
    position: relative;
    background: #999;
    overflow-x: hidden;
}
img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */
#next {
    height: 100%;
    position: absolute;
    right: 0;
    background: #555;
    z-index: 1;
}
#prev {
    height: 100%;
    position: absolute;
    left: 0;
    background: #555;
    z-index: 1;
}
/* #imageSlider {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
} */

::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  border: 1px solid rgba(81, 203, 238, 1);
}
