.objects {
    display:inline-block;
    background-color: white;
    /* border: #DFBC6A 1px solid; */
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 2px #999;
    cursor: move;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .objects {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    /* width: 20%; */
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
/* .content {
    background-color: white;
    padding: 10px;
} */

/* The "show" class is added to the filtered elements */
.show {
  display: inline-block;
  backgroung-color: black;
}

/* Style the buttons */

.zone {
    /* display:inline-block; */
    border: 3px dashed #ccc;
    float: left;
    margin: 10px;
    min-height: 100px;
    padding: 10px;
    width: 220px;

    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

.default_width {
    width: 5%
}

.albums {
    margin: 40px auto 0;
    overflow: hidden;
    width: 840px;
}
.album {
    border: 3px dashed #ccc;
    float: left;
    margin: 10px;
    min-height: 200px;
    padding: 10px;
    width: 350px;

    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

h6 {
    display: block;
    /* border: 1px solid rgb(75, 74, 42) */
}
